.about {
  padding: 31px 31px 58px 30px;
}

.about__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;

  color: @black;

  margin: 0 0 28px 0;
}

.about__list {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  .reset-list;

  color: @black;
}

.about__item:first-child {
  position: relative;

  padding-top: 54px;
  margin-bottom: 30px;
}

.about__item:first-child::before {
  content: "";

  position: absolute;

  width: 33px;
  height: 38px;

  top: 0;
  left: 8px;

  background: url("../img/index/flower.svg") no-repeat;
}

.about__item:nth-child(2) {
  position: relative;

  padding-top: 53px;
  margin-bottom: 35px;
}

.about__item:nth-child(2)::before {
  content: "";

  position: absolute;

  width: 47px;
  height: 27px;

  top: 0;
  left: 0;

  background: url("../img/index/money.svg") no-repeat;
}

.about__item:nth-child(3) {
  position: relative;

  padding-top: 48px;
  margin-bottom: 30px;
}

.about__item:nth-child(3)::before {
  content: "";

  position: absolute;

  width: 34px;
  height: 27px;

  top: 0;
  left: 7px;

  background: url("../img/index/heart.svg") no-repeat;
}

.about__item:nth-child(4) {
  position: relative;

  padding-top: 51px;
  margin-bottom: 34px;
}

.about__item:nth-child(4)::before {
  content: "";

  position: absolute;

  width: 35px;
  height: 34px;

  top: 0;
  left: 3px;

  background: url("../img/index/ball.svg") no-repeat;
}

.about__item:nth-child(5) {
  position: relative;

  padding-top: 49px;
  margin-bottom: 32px;
}

.about__item:nth-child(5)::before {
  content: "";

  position: absolute;

  width: 55px;
  height: 23px;

  top: 0;
  left: -6px;

  background: url("../img/index/rocket.svg") no-repeat;
}

.about__item:last-child {
  position: relative;

  padding-top: 52px;
}

.about__item:last-child::before {
  content: "";

  position: absolute;

  width: 33px;
  height: 32px;

  top: 0;
  left: 3px;

  background: url("../img/index/gift.svg") no-repeat;
}
