
.application__container {
  width: 320px;
  height: 177px;

  position: relative;

  background-color: @darkwhite;

  @media (min-width: @tablet-width) {
    width: 768px;
    height: 226px;
  }

  @media (min-width: @desktop-width) {
    width: 1150px;
    height: 255px;
  }
}

.application__container::before {
  @media (min-width: @tablet-width) {
    content: "";

    position: absolute;
    bottom: -12px;
    left: 0;

    width: 770px;
    height: 24px;

    background-image: url("../img/general/zigzag-tablet-white.svg");
  }

  @media (min-width: @desktop-width) {

    bottom: -17px;
    left: 0;

    width: 1150px;
    height: 34px;

    background-image: url("../img/general/zigzag-desktop-white.svg");
  }
}

.application__title {
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;

  color: @black;

  padding-top: 73.5px;
  margin: 0;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;

    padding-top: 100px;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;

    padding-top: 101px;
  }
}

.application__text {
  width: 320px;

  font-size: 13px;
  line-height: 24px;
  font-weight: 400;

  color: @grey;

  padding: 17px 30px 15px;
  margin: 0;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 768px;
    font-size: 17px;
    line-height: 30px;

    padding: 66px 50px 30px;
  }

  @media (min-width: @desktop-width) {
    width: 1150px;

    padding: 115.5px 225px 40px;
  }
}

.application__form {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
}

.application__group {
  line-height: 16px;

  border: none;

  padding: 0;
  margin: 0;
}
