.catalog-buy-container {
  width: 198px;

  display: flex;
  flex-flow: row wrap;
  flex: 1 1 auto;
  justify-content: space-between;
  align-items: flex-end;

  position: relative;

  padding: 23.5px 0 0 0;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 266px;

    padding: 26px 0 0 0;
    margin-top: auto;
  }

  @media (min-width: @desktop-width) {
    width: 257px;

    margin: 0;
  }
}

.catalog-buy-container::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 204px;
  height: 1px;

  background-color: @lightwhite;

  @media (min-width: @tablet-width) {
    width: 268px;
  }

  @media (min-width: @desktop-width) {
    width: 256px;
  }
}

.catalog-buy-container__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;

  color: @black;

  @media (min-width: @tablet-width) {
    font-size: 17px;
  }
}

.catalog-buy-container__button {
  width: 20px;
  height: 19px;

  border: none;

  padding: 0;
  margin: 0 0 4px 0;
}

.catalog-buy-container__cart:hover {
  fill: @coral;
}

.catalog-buy-container__cart:active {
  fill: fade(@coral, 30%);
}
