.footer-copyright {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  position: relative;

  @media (min-width: @tablet-width) {
    width: 181px;
    height: 34px;

    justify-content: space-between;
  }
}

.footer-copyright::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 260px;
  height: 1px;

  background-color: @bodycolor;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.footer-copyright__text {
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;

  color: @black;

  margin-right: 27px;

  @media (min-width: @tablet-width) {
    margin: 0 0 21px 0;
  }
}

.footer-copyright__link {
  margin-top: 7px;

  @media (min-width: @tablet-width) {
    margin: 0 0 16px;
  }
}

.footer-copyright__image {
  width: 27px;
  height: 34px;

  fill: @coral;
}

.footer-copyright__image:hover {
  fill: @verylightcoral;
}

.footer-copyright__image:active path {
  fill: fade(@verylightcoral, 30%);
}
