.footer {
  background-color: @darkwhite;
}

.footer__wrapper {
  width: 320px;

  display: flex;
  flex-flow: row wrap;

  padding: 0 30px;
  margin: 0 auto;

  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 768px;

    justify-content: space-between;
    align-items: center;

    padding: 28px 50px 58px;
  }

  @media (min-width: @desktop-width) {
    width: 1150px;

    padding: 30px 50px 38px;
  }
}

.footer__wrapper-form {
  padding: 0 30px;

  @media (min-width: @tablet-width) {
    padding: 28px 50px 58px;
  }

  @media (min-width: @desktop-width) {
    padding: 45px 50px 38px;
  }
}

.footer__logo-image {
  display: none;

  @media (min-width: @tablet-width) {
    width: 102px;
    height: 34px;

    display: inherit;
  }
}

.footer__logo-link:hover .footer__logo-image {
  fill: @verylightcoral;
}

.footer__logo-link:active .footer__logo-image {
  fill: fade(@verylightcoral, 30%);
}

.footer__social {
  width: 260px;
  height: 80px;
}

.footer__copyright {
  width: 260px;
  height: 80px;
}
