.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social__list {
  .reset-list;

  width: 142px;
  height: 28px;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @tablet-width) {
    width: 140.5px;
  }
}

.footer-social__instagram {
  width: 22px;
  height: 21px;

  fill: @black;
}

.footer-social__facebook {
  width: 15px;
  height: 28px;

  fill: @black;
}

.footer-social__twitter {
  width: 23px;
  height: 20px;

  fill: @black;
}

.footer-social__twitter:hover,
.footer-social__instagram:hover,
.footer-social__facebook:hover {
  fill: @verylightcoral;
}

.footer-social__twitter:active,
.footer-social__instagram:active,
.footer-social__facebook:active {
  fill: fade(@verylightcoral, 30%);
}
