.form-fio__title {
  color: @coral;

  position: relative;

  padding: 0;
  margin: 0 0 29px 0;
}

.form-fio__title::before {
  content: "";

  width: 200px;
  height: 1px;

  position: absolute;
  top: 50%;
  left: 60px;

  background-color: @coral;
}

.form-fio__name {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;

  color: @black;
}

.form-fio__input-name {
  width: 260px;

  font-size: 17px;
  line-height: 18px;
  font-weight: 400;

  border: none;
  border-bottom: 2px solid @black;
  outline: none;

  padding: 17px 10px 17px 0;
  margin-bottom: 22px;
  box-sizing: border-box;
}

.form-fio__surname {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;

  color: @black;
}

.form-fio__input-surname {
  width: 260px;

  font-size: 17px;
  line-height: 18px;
  font-weight: 400;

  border: none;
  border-bottom: 2px solid @black;
  outline: none;

  padding: 17px 8px 17px 0;
  margin-bottom: 22px;
  box-sizing: border-box;
}

.form-fio__patronymic {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;

  color: @black;
}

.form-fio__input-patronymic {
  width: 260px;

  font-size: 17px;
  line-height: 18px;
  font-weight: 400;

  border: none;
  border-bottom: 2px solid @black;
  outline: none;

  padding: 17px 23px 17px 0;
  margin-bottom: 34.5px;
  box-sizing: border-box;
}
