.header {
  background-color: @white;
}

.header__wrapper {
  width: 320px;
  height: 79px;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 768px;
    height: 89px;

    z-index: 1;

    padding: 0 50px;
  }

  @media (min-width: @desktop-width) {
    width: 1150px;
  }
}

.header__wrapper-logo {
  width: 320px;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  padding: 0;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 320px;

    align-items: center;
    order: 1;

    padding: 0;
  }

  @media (min-width: @desktop-width) {
    width: 149px;
    height: 72px;

    order: 2;

    padding: 0;
    margin: 9px auto 7px;
  }
}

.header__container-logo {
  width: 86px;
  height: 35px;

  margin-left: 116px;

  @media (min-width: @tablet-width) {
    width: 113px;
    height: 46px;

    margin-left: 0;
  }

  @media (min-width: @desktop-width) {
    width: 149px;
    height: 72px;
  }
}

.header__logo-link {
  width: 86px;
  height: 35px;

  margin-left: 85px;

  @media (min-width: @tablet-width) {
    width: 113px;
    height: 46px;

    margin-left: 0;
  }

  @media (min-width: @desktop-width) {
    width: 149px;
    height: 72px;
  }
}

.header__logo-mobile {
  width: 86px;
  height: 35px;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.header__logo-tablet {
  @media (min-width: @mobile-width) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    width: 113px;
    height: 46px;

    display: inline-block;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.header__logo-desktop {
  @media (min-width: @mobile-width) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    width: 149px;
    height: 72px;

    display: inline-block;
  }
}

.header__logo-desktop:hover {
  opacity: 60%;
}

.header__logo-desktop:active {
  opacity: 30%;
}

.header__button {
  width: 20px;
  height: 14px;

  align-self: center;

  border: none;

  background-color: transparent;

  padding: 0;
  margin: 0 31px 0 0;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.header__list {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;

  color: @black;

  z-index: 1;

  .reset-list;
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
    order: 3;
  }

  @media (min-width: @desktop-width) {

    order: 1;

    padding: 0;
  }
}

.header__item {
  width: 320px;
  height: 79px;

  box-shadow: 0 1px 0 @lightwhite, inset 0 1px 0 @lightwhite;

  padding: 28.5px 65px 26.5px 76px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 167px;
    height: 24px;

    text-align: left;

    box-shadow: none;

    padding: 0;
    margin-top: 20.5px;
    margin-right: 36px;
  }

  @media (min-width: @desktop-width) {
    width: 179px;

    position: relative;

    margin: 32.5px 5px 31.5px 35px;
  }
}

.header__item:first-child {
  @media (min-width: @tablet-width) {
    margin-left: 0;
  }
}

.header__item:last-child {
  @media (min-width: @tablet-width) {
    margin-right: 0;
  }
}

.header__item::before {
  @media (min-width: @desktop-width) {
    content: "";

    position: absolute;
    top: -33px;
    right: -5px;

    width: 1px;
    height: 88px;

    background-color: @black-1;
  }
}

.header__item:last-child::before {
  @media (min-width: @desktop-width) {
    content: "";

    position: absolute;
    top: -33px;
    right: -5px;

    width: 0;
    height: 88px;

    background-color: @black-1;
  }
}

.header__link {
  text-decoration: none;

  color: @black;
}

.header__link:hover {
  color: fade(@black, 60%);
}

.header__link:active {
  color: fade(@black, 30%);
}

.header__user-list {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;

  color: @black;

  .reset-list;
  display: none;

  @media (min-width: @tablet-width) {
    width: 348px;

    display: flex;
    order: 2;
  }

  @media (min-width: @desktop-width) {
    margin-left: auto;
  }
}

.header__item-search {
  width: 320px;
  height: 79px;

  position: relative;

  box-shadow: 0 1px 0 @lightwhite, inset 0 1px 0 @lightwhite;

  padding: 28.5px 65px 26.5px 76px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 83px;
    height: 89px;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 1px 0 0 @lightwhite, inset 1px 0 0 @lightwhite;

    padding: 0;
  }
}

.header__item-search-button {
  display: none;

  @media (min-width: @tablet-width) {
    width: 18px;
    height: 18px;

    display: inline-block;

    border: none;
    outline: none;

    background-color: transparent;

    padding: 0;
    box-sizing: border-box;
  }
}

.header__item-search-image {
  display: none;

  @media (min-width: @tablet-width) {
    width: 18px;
    height: 18px;

    display: block;
  }
}

.header__item-search-image:hover path {
  @media (min-width: @tablet-width) {
    fill: @coral;
  }
}

.header__item-search-image:active path {
  @media (min-width: @tablet-width) {
    fill: fade(@coral, 30%);
  }
}

.header__item-search-text {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.header__item-cart {
  width: 320px;
  height: 79px;

  position: relative;

  box-shadow: 0 1px 0 @lightwhite, inset 0 1px 0 @lightwhite;

  padding: 28.5px 60px 26.5px 76px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 233px;
    height: 89px;

    text-align: right;

    box-shadow: none;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0;
    margin: 0 0 0 31px;
  }

  @media (min-width: @desktop-width) {
    width: 233px;
  }
}

.header__item-cart-text {
  width: 211px;

  position: relative;

  padding-left: 22px;
}

.header__item-cart-text:hover {
  color: fade(@black, 60%);
}

.header__item-cart-text:hover::before {
  background-image: url("../img/index/cart-hover.svg");
}

.header__item-cart-text:active {
  color: fade(@black, 30%);
}

.header__item-cart-text:active::before {
  background-image: url("../img/index/cart-active.svg");
}

.header__item-cart-text::before {
  content: "";

  position: absolute;
  top: 3px;
  left: 0;

  width: 21px;
  height: 18px;

  background-image: url("../img/index/cart.svg");
}
