.hit {
  width: 320px;

  display: flex;
  flex-flow: row wrap;

  position: relative;

  padding: 20px 30px 42px;
  box-sizing: border-box;

  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 768px;

    display: grid;
    grid-template-columns: 167px 167px 167px 167px;
    grid-template-areas: "title title title special""text text image image""list list image image""price price image image""button button image image";
  }

  @media (min-width: @desktop-width) {
    width: 1150px;

    grid-template-columns: 175px 175px 175px 175px 175px 175px;
    grid-template-areas: "special title title image image image"". text text image image image"". list list image image image"". price price image image image"". button button image image image";
    padding: 54px 50px 96px;
  }
}

.hit::before {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;

  width: 320px;
  height: 6px;

  background-image: url("../img/general/zigzag-mobile-grey.svg");

  @media (min-width: @tablet-width) {
    width: 768px;
    height: 17px;

    background-image: url("../img/general/zigzag-tablet-grey.svg");
  }

  @media (min-width: @desktop-width) {
    width: 1050px;
    height: 23px;

    left: 50px;

    background-image: url("../img/general/zigzag-desktop-grey.svg");
  }
}

.hit__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;

  color: @black;

  padding: 0;
  margin: 0 0 3.5px 0;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;

    grid-area: title;

    margin: 0 0 37.5px 0;
  }

  @media (min-width: @desktop-width) {
    width: 545px;

    font-size: 53px;
    line-height: 57px;

    z-index: 1;

    margin: 61px 0 35px 0;
  }
}

.hit__special {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;

  color: @coral;

  margin: 0 127px 17.5px 0;

  @media (min-width: @tablet-width) {
    width: 100px;

    line-height: 17px;
    text-align: center;
    justify-self: end;
    align-self: flex-start;

    grid-area: special;

    margin: 0;
  }

  @media (min-width: @desktop-width) {
    justify-self: center;

    margin-top: 68px;
  }
}

.hit__text {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;

  color: @grey;

  margin: 0 0 28px 0;

  @media (min-width: @tablet-width) {
    width: 292px;
    height: max-content;

    font-size: 17px;
    line-height: 30px;

    grid-area: text;

    margin-bottom: 48px;
  }
}

.hit__list {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;

  display: flex;
  flex-flow: row wrap;

  color: @grey;

  .reset-list;

  margin: 0 0 28px 0;

  @media (min-width: @tablet-width) {
    width: 292px;
    height: max-content;

    grid-area: list;

    margin-bottom: 57px;
  }
}

.hit__item {
  width: 260px;
  height: 39px;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid @lightwhite;
}

.hit__color,
.hit__diameter,
.hit__height {
  width: 97px;
}

.hit__value {
  width: 162px;

  margin: 0;
}

.hit__image {
  width: 260px;
  height: 315px;

  background-color: @grey;

  margin: 0 0 25.5px 0;

  @media (min-width: @tablet-width) {
    width: 334px;
    height: 100%;

    grid-area: image;

    margin: 0;
  }

  @media (min-width: @tablet-width) {
    width: 100%;
  }
}

.hit__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;

  color: @grey;

  margin-bottom: 24.5px;

  @media (min-width: @tablet-width) {
    font-size: 20px;

    grid-area: price;
    justify-self: center;

    margin-bottom: 33px;
  }
}

.hit__button {
  padding: 16px 70px;

  @media (min-width: @tablet-width) {
    width: 292px;

    font-size: 17px;

    grid-area: button;
  }
}

.hit__button:hover {
  @media (min-width: @tablet-width) {
    color: @white;
    background-color: @grey;
  }
}

.hit__button:active {
  @media (min-width: @tablet-width) {
    color: fade(@white, 30%);
    background-color: @grey;
  }
}
