.hit {
  background: url("../img/general/zigzag-line.svg") no-repeat 0% 100%;

  padding: 31px 30px 42px 30px;
  box-sizing: border-box;
}

.hit__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;

  color: @black;

  padding: 0;
  margin-bottom: 3.5px;
}

.hit__special {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;

  color: @coral;

  margin: 0 127px 17.5px 0;
}

.hit__text {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;

  color: @grey;

  margin: 17.5px 0 28px 0;
}

.hit__list {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;

  color: @grey;

  margin: 0 0 28px 0;
}

.hit__value {
  margin: 0;
}

.hit__image {
  width: 260px;
  height: 315px;

  background-color: @grey;

  margin: 0 0 25.5px 0;
}

.hit__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;

  color: @grey;
}

.hit__button {
  padding: 16px 70px;
  margin-top: 24.5px;
}
