.preview__container {
  height: 386px;

  background-color: @lightwhite;
  background-image: url("/img/index/preview.png");
}
.preview__title {
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;

  padding: 73px 0 0 0;
  margin: 0;
}
.preview__container-general {
  width: 320px;
  height: 206px;

  margin-top: -103px;
}
.preview__container-interior {
  width: 320px;
  height: 103px;

  background-color: @coral;

  padding: 24px 0 31px 30px;
  box-sizing: border-box;
}
.preview__container-baby-toys {
  width: 320px;
  height: 103px;

  background-color: @darkcoral;

  padding: 24px 0 31px 30px;
  box-sizing: border-box;
}
.preview__link {
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;

  color: @white;
  box-sizing: border-box;
}
