.reviews {
  width: 320px;

  display: flex;
  flex-flow: row wrap;

  position: relative;

  padding: 29px 30px 51px 30px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 768px;

    display: flex;
    flex-flow: row wrap;

    background: url("../img/index/review-background-tablet.png") no-repeat;
    background-size: 350px 457px;

    padding: 0 50px 131px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index/review-background-tablet@2x.png");
      background-size: 350px 457px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 1150px;

    background: url("../img/index/review-background-tablet.png") no-repeat 50px 41px;

    padding: 45px 50px 90px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index/review-background-tablet@2x.png");
      background-size: 350px 457px;
    }
  }
}

.reviews::before {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;

  width: 320px;
  height: 6px;

  background-image: url("../img/general/zigzag-mobile-grey.svg");

  @media (min-width: @tablet-width) {
    width: 768px;
    height: 17px;

    background-image: url("../img/general/zigzag-tablet-grey.svg");
  }

  @media (min-width: @desktop-width) {
    left: 50px;

    width: 1050px;
    height: 23px;

    background-image: url("../img/general/zigzag-desktop-grey.svg");
  }
}

.reviews__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;

  color: @black;

  margin: 3px 0 14px 0;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;

    order: 1;

    margin: 90px auto 38.5px 0;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;

    margin: 77px auto 34px 174px;
  }
}

.reviews__text {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;

  color: @grey;

  margin: 0 0 33px 0;

  @media (min-width: @tablet-width) {
    font-size: 17px;

    order: 3;

    margin: 0 0 61px 0;
  }

  @media (min-width: @desktop-width) {
    font-size: 17px;

    order: 3;

    margin: 0 0 40px 174px;
  }
}

.reviews__text br {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.reviews__author {
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;

  margin: 0 0 30px 0;

  @media (min-width: @tablet-width) {
    order: 4;

    margin: 0 auto 0 0;
  }

  @media (min-width: @desktop-width) {
    font-size: 17px;

    margin: 0 auto 94px 174px;
  }
}

.reviews__author-bold {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;

  @media (min-width: @tablet-width) {
    font-size: 18px;
  }

  @media (min-width: @desktop-width) {
    font-size: 17px;
  }
}

.reviews__button-container {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    width: 137px;
    height: 26px;

    justify-content: space-between;

    order: 5;

    margin: 12px 17px 0 0;
  }

  @media (min-width: @desktop-width) {
    margin: 15px 17px 0 0;
  }
}

.reviews__button {
  width: 130px;
  height: 52px;

  background-color: @white;

  border: 1px solid @lightwhite;
  box-sizing: border-box;

  padding: 0;

  @media (min-width: @tablet-width) {
    width: 50px;
    height: 26px;

    border: none;
  }
}

.reviews__arrow-left,
.reviews__arrow-right {
  margin-top: 5px;
}

.reviews__arrow-left:hover,
.reviews__arrow-right:hover {
  fill: fade(@black, 60%);
}

.reviews__arrow-left:active,
.reviews__arrow-right:active {
  fill: fade(@black, 30%);
}

.reviews__form {
  padding: 0;

  @media (min-width: @tablet-width) {
    width: 175px;
    height: 52px;

    font-size: 17px;

    order: 2;

    margin-top: 78px;
  }
}
