.reviews {
  background: url("../img/general/zigzag-line.svg") no-repeat 0% 100%;

  padding: 0 30px 51px 30px;
}

.reviews__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;

  color: @black;

  margin: 0 0 14px 0;
}

.reviews__quote {
  font-style: normal;

  margin: 0 0 30px 0;
}

.reviews__text {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;

  color: @grey;

  margin: 0 0 33px 0;
}

.reviews__author {
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
}

.reviews__author-bold {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
}

.reviews__button-container {
  margin-bottom: 38px;
}

.reviews__button {
  width: 130px;
  height: 52px;

  background-color: @white;

  border: 1px solid @lightwhite;
  box-sizing: border-box;

  padding: 0;
}
